body{
    margin: 0px;
}
header{
    text-align: center;
    padding: 35px;
    background-color: #8F141B;

}
.icon{
    margin: 0 0 0 25px;
}
footer{
    background-color: #F2F4F5;
    text-align: center;
}
html, body{
	margin: 0;
	padding: 0;
}

body{
	font: 96% 'Open Sans', Arial, Helvetica, sans-serif;
	color: #4D626C;
	background: #FFF;
}

a, a span, a img, a p, a:after, .notGrup div, input, select, td, .owl-carousel .owl-item .cubre,
	.owl-theme .owl-nav [class*='owl-'], button,
	.responsive-tabs__list__item{
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

a, div, ul, li, lo, button, .centro{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

strong{
	font-weight: 700;
}


hr{
	float: left;
	margin: 50px 0;
	width: 100%;
	color: #DBE0E2;
	background-color: #DBE0E2;
	height: 1px;
	border: none;
}

hr.end{
	float: none;
	margin-top: 50px;
	max-width: 600px;
	height: 2px;
}

.all{
	clear: both;
	position: relative;
	float: left;
	width: 100%;
}
.centro1{
    width: 100%;
    border: 1px solid #DFD4A6;	
    color: #ffffff;
    background-color: #8F141B;
}
.centro-seccion hr{
	background-color: #8F141B;
}
.centro-noticia{
	clear: both;
    float: left;
    width: 100%;
    border: 1px solid #DFD4A6;
	/*position: relative;
	/*clear: both;
	/*margin-left: 13%; /*	margin: 0 auto;*/
	/*display: block;
	/*width: 60%;/*100*/
	/*max-width: 1100px;	
	border: 1px solid #DFD4A6;*/
}
.centro-noticia h1::after, .centro-menu h1::after{
	content: '';
    display: block;
    width: 80px;
    border-bottom: 5px solid #4D626C;
}
.centro-noticia h1 , .centro-menu h1{
    margin: 0;
    padding: 5px 10px 10px 10px;
    color: #4D626C;
}

.centro-noticia h1 span, .centro-menu h1 span{
    display: block;
    border-bottom: 2px solid #4D626C;
} 
.centro-menu{
	float: left;
    margin: 0 10px;
    padding: 0;
    width: 27%;
    border: 1px solid #DFD4A6;
	/*position: relative;
	clear: both;
	margin-left: 50%; /*	margin: 0 auto;*/
	/*display: block;
	width: 20%;/*100*/
	/*max-width: 1100px;	
	border: 1px solid #DFD4A6;*/
}
.centro-seccion{
	clear: both;
    margin: 0 auto;
    width: 990px;
}
.centro{
	position: relative;
	clear: both;
	margin: 0 auto;
	display: block;
	width: 100%;
	max-width: 1100px;
}


/*********************************************************************************/
/*********************************************************************************/

.txt_der{ text-align: right; }
.txt_izq{ text-align: left; }
.txt_centro{ text-align: center; }

.fl_izq{ float: left; }
.fl_der{ float: right; }

.noPadding{ padding: 0; }
.noPaddingX{ padding-top: 0; padding-bottom: 0; }
.noPaddingY{ padding-left: 0; padding-right: 0; }


.corte{
	clear: both;
	display: block;
	width: 100%;
	height: 40px;
}


.embed-container{
    position: relative;
    padding-bottom: 56.25%;
    height: auto;
    overflow: hidden;
    width: 100%;    
} 

.embed-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*********************************************************************************/
/*********************************************************************************/

.col-1 {width: 8.333%;}
.col-2 {width: 16.666%;}
.col-2a {width: 20%;}
.col-3 {width: 25%;}
.col-4 {width: 33.333%;}
.col-5 {width: 41.666%;}
.col-6 {width: 50%;}
.col-7 {width: 58.333%;}
.col-8 {width: 66.666%}
.col-9 {width: 75%;}
.col-10 {width: 83.333%}
.col-11 {width: 91.666%;}
.col-12 {width: 100%}

[class^=col-]{
	float:left;
	height:auto;
	padding: 6px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

.header{
	position:relative;
	padding: 25px 0;
	height: auto;
	text-align: center;
	background-color: #8F141B;
}

.header .logos{
	max-width: 960px;	
	display: flex;
    align-items: center;
    justify-content: center;
}

.header .logos .figure{
	margin: 0 15px;
	width: auto;
}

.header .logos .figure img, .footer .centro img, .interna img{
	width: auto;
	max-width: 100%;
}

.header .banderas{
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: -15px;
}

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

.horMenu{
	background: #DFD4A6;
}


.menu2do{
	background-color: #4D626C;
}

.menu2do ul li{
	float: right;
	margin: 5px 0 5px 15px;
	font-size: 84%;
}

.menu2do ul li a{
	text-decoration: none;
	color: #FFF;
}

.menu2do ul li a:hover{
	color: #DFD4A6;
}

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

.noticias .conte_img{
	position: relative;
	width: auto;
	max-width: 90%; /*100%*/
	height: auto;
	overflow: hidden;
	line-height: 0;
	border: 1px solid #DFD4A6;
}

.noticias .conte_img img{
	position: relative;
	width: 100%;
	height: 100%;
	transition: all 0.2s ease-out;
}

.noticias .article:hover .conte_img{
	border-color: #4C626D;
}

.noticias .article:hover .conte_img img{
	opacity: 0.8;
	transform: scale(1.2, 1.2);
}

.fecha{
	display: block;
	margin: 10px 0;
	font-size: 80%;
}

.noticias .article h4{
	margin: 0;
}

.noticias .article a{
	text-decoration: none;
	color: #839198;
	line-height: 120%; /*180*/
}
.noticias .article:hover a{
	color: #4D626C;
}

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

.pagination, .menInf{
	position: relative;
	float: left;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
	margin: 10px 0;
	padding: 0;
}

.pagination ul, .menInf ul{
	clear: left;
	float: left;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	left: 50%;
	text-align: center;
}

.pagination ul li, .menInf ul li{
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	right: 50%;
}

.pagination ul li a{
	display: block;
	margin: 0 10px;
	padding: 4px 10px;
	text-decoration: none;
	color: #4D626C;
	background-color: #DFD4A6;
}

.pagination ul li a.active{
	color: #DFD4A6;
	background-color: #4D626C;
}

.pagination ul li a:hover{
	color: #DFD4A6;
	background-color: #8F141B;
}

.menInf{
	margin: 50px 0;
}

.menInf ul{
	padding: 10px 0;
}

.menInf a{
	padding: 0 7px;
	text-decoration: none;
	color: #8D1319;
}

.menInf a:hover{
	color: #4C616C;
}


/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

.bannerIn{
	margin: 60px 0;
}

.bannerIn a{
	text-decoration: none;
	color: #4C5F6C;
}
.bannerIn a:hover{
	color: #1E262B;
}

.bannerIn a h2{
	margin: 80px 0;
	font-size: 240%;
}

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
.logos{
	padding: 20px 0 50px 0;
    text-align: center;
}
.logos .centro{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.logos .centro a{
	margin: 0 15px;
}

.logos .centro a img{
	opacity: 0.6;
}
/*Portal*/
.enlaLogos a img {
	margin: 15px;
}

.logos a:hover img {
	/*	filter: alpha(opacity=100); /* internet explorer */
	-khtml-opacity: 1; /* khtml, version anterior de safari */
	-moz-opacity: 1; /* firefox, mozilla, netscape */
	opacity: 1; /* safari, chrome, opera */
}
.imagbn a img {
	filter: grayscale(70%); /* Para cuando es estándar funcione en todos */
	transition: all 0.5s ease-in-out;
}

.imagbn a:hover img {
	filter: none;
}
.logos a img {
	margin: 15px;
}

.logos .centro a:hover img{
	opacity: 1;
}

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

.footer .centro{
	max-width: 600px;
}

.footer .fondo_gris{
	padding: 40px 0;
}

.footer .fondo_gris hr{
	float: none;
	width: 180px;
}

.footer a{
	color: #4D626C;
}

.footer a:hover{
	color: #1E262B;
}

.footer .redes a img{
	background-color: #F5F5F5;
	border: 1px solid #4B606D;
}

.footer .redes a:hover img{
	background-color: #FFF;
	border: 1px solid #839198;
}

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

.miga{
	padding: 15px 0;
	text-align: center;
	font-size: 80%;
	color: #839198;
}

.miga a{
	text-decoration: none;
	color: #839198;
}

.miga a:hover{
	text-decoration: underline;
	color: #4C626D;
}

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

.desgloce{
	max-width: 940px;
}

.desgloce h1.titulo{
	margin: 60px 0 30px 0;
	padding-bottom: 20px;
	font-size: 220%;
	border-bottom: 2px solid #DBE0E2;
}

.desgloce img{
	width: auto;
    max-width: 100%;
    height: auto;
}

.desgloce .centro{
	max-width: 800px;
}

.desgloce .fecha{
	padding-bottom: 10px;
	border-bottom: 2px solid #DBE0E2;
}

/*********************************************************************************/
/*********************************************************************************/

.compartir{
	padding: 60px 0 20px 0 !important;
	margin-bottom: 90px;
	border-bottom: 2px solid #DBE0E2;
}

.compartir button{
	margin: 0 5px;
	padding: 0;
	line-height: 0;
	cursor: pointer;
	background-color: #CCC;
	border: 2px solid transparent;
}

.compartir button.fb{
	background-color: #4267B2;
}

.compartir button.tt{
	background-color: #00ABF1;
}

.compartir button.gp{
	background-color: #0077B5;
}

.compartir button.wa{
	background-color: #25D366;
}

.compartir button:hover{
	border-color: #DFD4A6;
}

.compartir button:hover img{
	opacity: 0.8;
}

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

.interna .cabezote{
	position: relative;
}

.interna .cabezote.imagen{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	line-height: 0;
}

.interna .cabezote.sinimagen{
	padding: 60px 0;
}

.interna .cabezote.imagen .hgroup{
	position: absolute;
	z-index: 1;
	left: 0;
	padding-top: 20px;
	width: 100%;
	max-width: 680px;
}

.interna .cabezote h1{
	padding: 0 15px 10px 15px;
	font-size: 220%;
	line-height: 120%;
	border-bottom: 1px solid #DBE0E2;
}

.interna .cabezote.sinimagen h1{
	margin: 20px auto;
	width: 90%;
	max-width: 740px;
}

.interna .cabezote h2{
	margin: 0;
	font-weight: normal;
	color: #FFF;
}

.interna .cabezote h4{
	margin: 30px 0 0 0;
}

.interna .article{
	margin-bottom: 90px;
	max-width: 800px;
}

/*********************************************************************************/
/*********************************************************************************/

.interna .article .info{
	margin: 50px 0;
}
xxxx

.interna .article h1, .interna .article h2, .interna .article h3, .interna .article h4, .interna .article h5, .interna .article h6{
	margin-bottom: 0;
	color: #920C0E;
}

.interna .article h1{
	font-size: 220%;
}
.interna .article h2{
	font-size: 200%;
	margin: 40px 0 15px 0;
}
.interna .article h3{
	font-size: 180%;
}
.interna .article h4{
	font-size: 160%;
}
.interna .article h5{
	font-size: 140%;
}
.interna .article h6{
	font-size: 120%;
}

.interna p{
    margin: 20px 0;
    line-height: 160%;
}

.interna .article a, .desgloce a {
	color: #4D626C;
}

.interna .article a:hover, .desgloce a:hover {
	color: #920C0E;
}

.interna ul:not(.responsive-tabs__list), .interna ol{
	margin: 15px 0 0 18px;
}

.interna ul:not(.responsive-tabs__list){
	list-style-type: disc;
}

.interna ul:not(.responsive-tabs__list) li, .interna ol li{
	margin: 10px 0;
}

.interna ul:not(.responsive-tabs__list) li:last-child, .interna ol li:last-child{
	margin-bottom: 0;
}


.interna table{
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 15px;
	border-left: 1px solid #DBE0E2;
	border-top: 1px solid #DBE0E2;
}

.interna table th{
	padding: 10px 2px;
	text-align: center;
	color: #FFF;
	background-color: #839198;
	border-right: 1px solid #DBE0E2;
	border-bottom: 2px solid #DBE0E2;
}

.interna table tr.medi th{
	font-size: 90%;
}
.interna table tr.mini th{
	font-size: 70%;
}

.interna table td {
	padding: 2px 5px;
	border-bottom: 1px solid #DBE0E2;
	border-right: 1px solid #DBE0E2;
}

.interna table.sin_borde, .interna table.sin_borde th, .interna table.sin_borde td{
	border: none;
}

.interna table td p{
	margin-bottom: 0;
}

.interna table td p:first-child{
	margin-top: 0;
}

.interna table td.alt{
	background-color: #ffc;
}

@media all and (max-width: 1200px){
	.controlPlayer{
		top: 10px;
	}
}

@media all and (max-width: 1100px){
	.centro{
		padding: 0 15px;
	}
	
	.header .banderas{
		right: 15px;
	}
	
	.sm-menu a{
		border-bottom: 1px solid #A6B1B6;
	}

	.menu2do{
		display: none;
	}

	.menu2do ul li{
		width: 100%;
		margin: 0;
		text-align: right;
		border-bottom: 1px solid #1E262B;
	}
	.menu2do li:last-child, .sm-menu li:last-child{
		border: none;
	}
	.menu2do ul li a{
		display: block;
		padding: 8px 0;
	}
}

@media all and (max-width: 1000px){
	.interna .cabezote.imagen img{
		opacity: 0.5;
	}

	.interna .cabezote h4{
		margin-left: auto;
		margin-right: auto;
		width: 92%;
	}
}

@media all and (max-width: 760px){
	.notGrup h2{
		margin: 0;
		padding: 10px 0;
	}
	.notGrup h2:after{
		display: none;
	}

	.desgloce h1.titulo {
		font-size: 180%;
	}

	.interna .cabezote.imagen .hgroup{
		position: inherit;
	}
	.interna .cabezote.imagen{
		line-height: normal;
		justify-content: center;
	}
	.interna .cabezote.imagen figure{
		line-height: 0;
	}
	.interna .cabezote.imagen img{
		opacity: 1;
	}

	.interna .cabezote.sinimagen{
		padding: 30px 0;
	}

	.interna table{
		display: block;
		overflow-x: auto;
	}
}


@media all and (max-width: 540px){
	.notGrup h2{
		font-size: 120%;
	}
}

@media all and (max-width: 500px){
	.header .logos .figure{
		margin: 0;
	}
	.header .logos .figure img.colombia{
		display: none;
	}
}

@media (max-width: 479px){
	.notGrup h2{
		font-size: 110%;
	}
}

@media all and (max-width: 440px){
	.pagination ul li a{
		margin: 0;
	}

	.menInf ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
a, a span, a img, a p, a:after, .notGrup div, input, select, td, .owl-carousel .owl-item .cubre,
	.owl-theme .owl-nav [class*='owl-'], button,
	.responsive-tabs__list__item{
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

a, div, ul, li, lo, button, .centro{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

strong{
	font-weight: 700;
}


hr{
	float: left;
	margin: 50px 0;
	width: 100%;
	color: #DBE0E2;
	background-color: #DBE0E2;
	height: 1px;
	border: none;
}

hr.end{
	float: none;
	margin-top: 50px;
	max-width: 600px;
	height: 2px;
}

.all{
	clear: both;
	position: relative;
	float: left;
	width: 100%;
}
.centro1{
    width: 100%;
    border: 1px solid #DFD4A6;	
    color: #ffffff;
    background-color: #8F141B;
}
.centro-seccion hr{
	background-color: #8F141B;
}
.centro-noticia{
	clear: both;
    float: left;
    width: 100%;
    border: 1px solid #DFD4A6;
	/*position: relative;
	/*clear: both;
	/*margin-left: 13%; /*	margin: 0 auto;*/
	/*display: block;
	/*width: 60%;/*100*/
	/*max-width: 1100px;	
	border: 1px solid #DFD4A6;*/
}
.centro-noticia h1::after, .centro-menu h1::after{
	content: '';
    display: block;
    width: 80px;
    border-bottom: 5px solid #4D626C;
}
.centro-noticia h1 , .centro-menu h1{
    margin: 0;
    padding: 5px 10px 10px 10px;
    color: #4D626C;
}

.centro-noticia h1 span, .centro-menu h1 span{
    display: block;
    border-bottom: 2px solid #4D626C;
} 
.centro-menu{
	float: left;
    margin: 0 10px;
    padding: 0;
    width: 27%;
    border: 1px solid #DFD4A6;
	/*position: relative;
	clear: both;
	margin-left: 50%; /*	margin: 0 auto;*/
	/*display: block;
	width: 20%;/*100*/
	/*max-width: 1100px;	
	border: 1px solid #DFD4A6;*/
}
.centro-seccion{
	clear: both;
    margin: 0 auto;
    width: 990px;
}
.centro{
	position: relative;
	clear: both;
	margin: 0 auto;
	display: block;
	width: 100%;
	max-width: 1100px;
}


/*********************************************************************************/
/*********************************************************************************/

.txt_der{ text-align: right; }
.txt_izq{ text-align: left; }
.txt_centro{ text-align: center; }

.fl_izq{ float: left; }
.fl_der{ float: right; }

.noPadding{ padding: 0; }
.noPaddingX{ padding-top: 0; padding-bottom: 0; }
.noPaddingY{ padding-left: 0; padding-right: 0; }


.corte{
	clear: both;
	display: block;
	width: 100%;
	height: 40px;
}


.embed-container{
    position: relative;
    padding-bottom: 56.25%;
    height: auto;
    overflow: hidden;
    width: 100%;    
} 

.embed-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*********************************************************************************/
/*********************************************************************************/

.col-1 {width: 8.333%;}
.col-2 {width: 16.666%;}
.col-2a {width: 20%;}
.col-3 {width: 25%;}
.col-4 {width: 33.333%;}
.col-5 {width: 41.666%;}
.col-6 {width: 50%;}
.col-7 {width: 58.333%;}
.col-8 {width: 66.666%}
.col-9 {width: 75%;}
.col-10 {width: 83.333%}
.col-11 {width: 91.666%;}
.col-12 {width: 100%}

[class^=col-]{
	float:left;
	height:auto;
	padding: 6px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

.header{
	position:relative;
	padding: 25px 0;
	height: auto;
	text-align: center;
	background-color: #8F141B;
}

.header .logos{
	max-width: 960px;	
	display: flex;
    align-items: center;
    justify-content: center;
}

.header .logos .figure{
	margin: 0 15px;
	width: auto;
}

.header .logos .figure img, .footer .centro img, .interna img{
	width: auto;
	max-width: 100%;
}

.header .banderas{
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: -15px;
}

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

.horMenu{
	background: #DFD4A6;
}


.menu2do{
	background-color: #4D626C;
}

.menu2do ul li{
	float: right;
	margin: 5px 0 5px 15px;
	font-size: 84%;
}

.menu2do ul li a{
	text-decoration: none;
	color: #FFF;
}

.menu2do ul li a:hover{
	color: #DFD4A6;
}

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

.noticias .conte_img{
	position: relative;
	width: auto;
	max-width: 90%; /*100%*/
	height: auto;
	overflow: hidden;
	line-height: 0;
	border: 1px solid #DFD4A6;
}

.noticias .conte_img img{
	position: relative;
	width: 100%;
	height: 100%;
	transition: all 0.2s ease-out;
}

.noticias .article:hover .conte_img{
	border-color: #4C626D;
}

.noticias .article:hover .conte_img img{
	opacity: 0.8;
	transform: scale(1.2, 1.2);
}

.fecha{
	display: block;
	margin: 10px 0;
	font-size: 80%;
}

.noticias .article h4{
	margin: 0;
}

.noticias .article a{
	text-decoration: none;
	color: #839198;
	line-height: 120%; /*180*/
}
.noticias .article:hover a{
	color: #4D626C;
}

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

.pagination, .menInf{
	position: relative;
	float: left;
	margin: 0 auto;
	overflow: hidden;
	width: 100%;
	margin: 10px 0;
	padding: 0;
}

.pagination ul, .menInf ul{
	clear: left;
	float: left;
	position: relative;
	list-style: none;
	margin: 0;
	padding: 0;
	left: 50%;
	text-align: center;
}

.pagination ul li, .menInf ul li{
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	right: 50%;
}

.pagination ul li a{
	display: block;
	margin: 0 10px;
	padding: 4px 10px;
	text-decoration: none;
	color: #4D626C;
	background-color: #DFD4A6;
}

.pagination ul li a.active{
	color: #DFD4A6;
	background-color: #4D626C;
}

.pagination ul li a:hover{
	color: #DFD4A6;
	background-color: #8F141B;
}

.menInf{
	margin: 50px 0;
}

.menInf ul{
	padding: 10px 0;
}

.menInf a{
	padding: 0 7px;
	text-decoration: none;
	color: #8D1319;
}

.menInf a:hover{
	color: #4C616C;
}


/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

.bannerIn{
	margin: 60px 0;
}

.bannerIn a{
	text-decoration: none;
	color: #4C5F6C;
}
.bannerIn a:hover{
	color: #1E262B;
}

.bannerIn a h2{
	margin: 80px 0;
	font-size: 240%;
}

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
.logos{
	padding: 20px 0 50px 0;
    text-align: center;
}
.logos .centro{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.logos .centro a{
	margin: 0 15px;
}

.logos .centro a img{
	opacity: 0.6;
}
/*Portal*/
.enlaLogos a img {
	margin: 15px;
}


.logos a:hover img {
	/*	filter: alpha(opacity=100); /* internet explorer */
	-khtml-opacity: 1; /* khtml, version anterior de safari */
	-moz-opacity: 1; /* firefox, mozilla, netscape */
	opacity: 1; /* safari, chrome, opera */
}
.imagbn a img {
	filter: grayscale(70%); /* Para cuando es estándar funcione en todos */
	transition: all 0.5s ease-in-out;
}

.imagbn a:hover img {
	filter: none;
}
.logos a img {
	margin: 15px;
}

.logos .centro a:hover img{
	opacity: 1;
}

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

.footer .centro{
	max-width: 600px;
}

.footer .fondo_gris{
	padding: 40px 0;
}

.footer .fondo_gris hr{
	float: none;
	width: 180px;
}

.footer a{
	color: #4D626C;
}

.footer a:hover{
	color: #1E262B;
}

.footer .redes a img{
	background-color: #F5F5F5;
	border: 1px solid #4B606D;
}

.footer .redes a:hover img{
	background-color: #FFF;
	border: 1px solid #839198;
}

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

.miga{
	padding: 15px 0;
	text-align: center;
	font-size: 80%;
	color: #839198;
}

.miga a{
	text-decoration: none;
	color: #839198;
}

.miga a:hover{
	text-decoration: underline;
	color: #4C626D;
}

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

.desgloce{
	max-width: 940px;
}

.desgloce h1.titulo{
	margin: 60px 0 30px 0;
	padding-bottom: 20px;
	font-size: 220%;
	border-bottom: 2px solid #DBE0E2;
}

.desgloce img{
	width: auto;
    max-width: 100%;
    height: auto;
}

.desgloce .centro{
	max-width: 800px;
}

.desgloce .fecha{
	padding-bottom: 10px;
	border-bottom: 2px solid #DBE0E2;
}

/*********************************************************************************/
/*********************************************************************************/

.compartir{
	padding: 60px 0 20px 0 !important;
	margin-bottom: 90px;
	border-bottom: 2px solid #DBE0E2;
}

.compartir button{
	margin: 0 5px;
	padding: 0;
	line-height: 0;
	cursor: pointer;
	background-color: #CCC;
	border: 2px solid transparent;
}

.compartir button.fb{
	background-color: #4267B2;
}

.compartir button.tt{
	background-color: #00ABF1;
}

.compartir button.gp{
	background-color: #0077B5;
}

.compartir button.wa{
	background-color: #25D366;
}

.compartir button:hover{
	border-color: #DFD4A6;
}

.compartir button:hover img{
	opacity: 0.8;
}

/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/
/*********************************************************************************/

.interna .cabezote{
	position: relative;
}

.interna .cabezote.imagen{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	line-height: 0;
}

.interna .cabezote.sinimagen{
	padding: 60px 0;
}

.interna .cabezote.imagen .hgroup{
	position: absolute;
	z-index: 1;
	left: 0;
	padding-top: 20px;
	width: 100%;
	max-width: 680px;
}

.interna .cabezote h1{
	padding: 0 15px 10px 15px;
	font-size: 220%;
	line-height: 120%;
	border-bottom: 1px solid #DBE0E2;
}

.interna .cabezote.sinimagen h1{
	margin: 20px auto;
	width: 90%;
	max-width: 740px;
}

.interna .cabezote h2{
	margin: 0;
	font-weight: normal;
	color: #FFF;
}

.interna .cabezote h4{
	margin: 30px 0 0 0;
}

.interna .article{
	margin-bottom: 90px;
	max-width: 800px;
}


/*********************************************************************************/
/*********************************************************************************/

.interna .article .info{
	margin: 50px 0;
}
xxxx

.interna .article h1, .interna .article h2, .interna .article h3, .interna .article h4, .interna .article h5, .interna .article h6{
	margin-bottom: 0;
	color: #920C0E;
}

.interna .article h1{
	font-size: 220%;
}
.interna .article h2{
	font-size: 200%;
	margin: 40px 0 15px 0;
}
.interna .article h3{
	font-size: 180%;
}
.interna .article h4{
	font-size: 160%;
}
.interna .article h5{
	font-size: 140%;
}
.interna .article h6{
	font-size: 120%;
}

.interna p{
    margin: 20px 0;
    line-height: 160%;
}

.interna .article a, .desgloce a {
	color: #4D626C;
}

.interna .article a:hover, .desgloce a:hover {
	color: #920C0E;
}

.interna ul:not(.responsive-tabs__list), .interna ol{
	margin: 15px 0 0 18px;
}

.interna ul:not(.responsive-tabs__list){
	list-style-type: disc;
}

.interna ul:not(.responsive-tabs__list) li, .interna ol li{
	margin: 10px 0;
}

.interna ul:not(.responsive-tabs__list) li:last-child, .interna ol li:last-child{
	margin-bottom: 0;
}


.interna table{
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 15px;
	border-left: 1px solid #DBE0E2;
	border-top: 1px solid #DBE0E2;
}

.interna table th{
	padding: 10px 2px;
	text-align: center;
	color: #FFF;
	background-color: #839198;
	border-right: 1px solid #DBE0E2;
	border-bottom: 2px solid #DBE0E2;
}

.interna table tr.medi th{
	font-size: 90%;
}
.interna table tr.mini th{
	font-size: 70%;
}

.interna table td {
	padding: 2px 5px;
	border-bottom: 1px solid #DBE0E2;
	border-right: 1px solid #DBE0E2;
}

.interna table.sin_borde, .interna table.sin_borde th, .interna table.sin_borde td{
	border: none;
}

.interna table td p{
	margin-bottom: 0;
}

.interna table td p:first-child{
	margin-top: 0;
}

.interna table td.alt{
	background-color: #ffc;
}



header{
    text-align: center;
    padding: 35px;
    background-color: #8F141B;

}
.icon{
    margin: 0 0 0 25px;
}
.container{
    margin: 90px 0 105px 0;
    text-align: justify;

}
.dropdown-btn{
    background-color: #8F141B;
    width: 250px;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgba(137, 43, 226, 0.2);
}
.dropdown-content a{
    color: black;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
    display: block;
}
.dropdown-content a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.dropdown:hover .dropdown-btn{
    background-color: #8F141B;
}
.dropdown:hover .dropdown-content{
    display: block;
}
footer{
    margin-top: 400px;
    background-color: #F2F4F5;
    text-align: center;
    padding-bottom: 50px;
}