body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
    padding: 35px;
    background-color: #8F141B;

}
.icon{
    margin: 0 0 0 25px;
}
.container{
    margin: 90px 0 105px 0;
    text-align: center;
}
.dropdown-btn{
    background-color: #8F141B;
    width: 250px;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgba(137, 43, 226, 0.2);
}
.dropdown-content a{
    color: black;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
    display: block;
}
.dropdown-content a:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.dropdown:hover .dropdown-btn{
    background-color: #8F141B;
}
.dropdown:hover .dropdown-content{
    display: block;
}
footer{
    margin-top: 400px;
    background-color: #F2F4F5;
    text-align: center;
    padding-bottom: 50px;
}