body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
    padding: 35px;
    background-color: #8F141B;

}
.img-biologia,.img-fisica{
	width: 251px;
	height: 145px;
}
.icon{
    margin: 0 0 0 25px;
}
.container{
    margin: 90px 105px 105px 400px;
    text-align: left;
}
.first-content{
	border-bottom: solid #8F141B;
}
footer{
    text-align: center;
	background-color: #F2F4F5;
	color: black;
	text-decoration: none;
}